* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca';
    font-weight: 700;
    height: 100%;
}
    
.intro {
    height: 75vh;
    width: 100%;
    background-color: #339999;
}

.name {
    font-size: 400;
}