<html lang="en" ng-app="portfolio">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link rel="stylesheet" href="css/styler.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<title>< r.delvillar /></title>
	</head>
	<body>
		  <!-- Angular Material requires Angular.js Libraries -->
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		  <!-- Angular Material Library -->
  		  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		  <script src="js/main.js"></script>

		  <div ng-controller="mainctrl">
		  	  <div class="nav_bar">
		  	  	  <div class="nav_l_bar">
		  	  	  	<span class="nav_bar_title"><b>< r.delvillar /></b></span>
		  	  	  </div>
			      <div class="nav_r_bar">
			          <md-tabs>
			              <md-tab ng-click="goto('home')"><b>Home</b></md-tab>
			              <md-tab ng-click="goto('portfolio')"><b>Portfolio</b></md-tab>
			              <md-tab ng-click="goto('contact')"><b>Contact</b></md-tab>
			          </md-tabs>
			      </div>

		      </div>

		      <div class="laptop_top"></div>

		      <div class="laptop_body">
		      	<div align="left" class="laptop_l_side"></div>
		      	<div align="right" class="laptop_r_side"></div>
		      	<div class="laptop_monitor" style="background-color:#363A3B">
		      		<!-- HOME -->
		      		<div ng-show="home">
		      			<img src="img/logo.PNG" class="logo-img"/>
		      		</div>
		      		<!-- END OF HOME -->
		      		<!-- ABOUT -->
		      		<div ng-show="about">
		      			<div class="about_top"></div>
		      			<div class="about_container" style="overflow: auto;">
		      				<center>
		      				<h1 class="md-display-1 about_tab"><b>About Me</b></h1>
		      				</center>	
		      				<div class="about_internal_container">
			      				<div class="about_left">
			      					<br/>
			      					<center>
			      					<div class="avatar img-thumbnail img-circle">
						                <img src="img/avatar.jpg" alt="avatar" />
						            </div>
						            </center>
						            <br/>
			      					<b>Hi there!</b>
			      					<br/><br/>
			      					My name is <b>Raph Wilson B. Del Villar</b> a web & software developer residing in the Philippines.
			      					<br/><br/>
			      					Take a look around, If you like what you see hit me up!


			      				</div>
			      				<div class="about_right">
			      				<br/>
			      				HTML & CSS
			      				<div class="progress-container">
				      				<md-progress-linear md-mode="determinate" value="95"></md-progress-linear>
			      				</div>
			      				<br/>
			      				PHP
			      				<div class="progress-container">
			      					<md-progress-linear md-mode="determinate" value="95"></md-progress-linear>
			      				</div>
			      				<br/>
			      				VBA
			      				<div class="progress-container">
			      					<md-progress-linear md-mode="determinate" value="95"></md-progress-linear>
			      				</div>
			      				<br/>
			      				PYTHON
			      				<div class="progress-container">
			      					<md-progress-linear md-mode="determinate" value="75"></md-progress-linear>
			      				</div>
			      				<br/>
			      				JAVA
			      				<div class="progress-container">
			      					<md-progress-linear md-mode="determinate" value="75"></md-progress-linear>
			      				</div>
			      				<br/>
			      				ABAP
			      				<div class="progress-container">
			      					<md-progress-linear md-mode="determinate" value="50"></md-progress-linear>
			      				</div>

			      				</div>
		      				</div>
		      			</div>
		      		</div>
		      		<!-- END OF ABOUT -->
		      		<!-- WORK -->
		      		<div ng-show="work" style="height: 100%">
		      		<br/>
		      		<center>
		      		<div class="work-container">
		      			
			      		<div class="work-l">
				      		<img src="img/prj/p01.PNG" class="work-img"/><br/><br/>
				      		<b>ALU - Duty Manager Rotation Tool</b>
				      	</div>
				      	<div class="work-r">
				      		<img src="img/prj/p02.PNG" class="work-img"/><br/><br/>
				      		<b>ALU - Automatic Ticket Dispatcher Tool</b>
				      	</div>

		      		</div>
		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p03.PNG" class="work-img"/><br/><br/>
				      		<b>ALU Overwatch - Job Monitoring Tool</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="" class="work-img"/><br/><br/>
				      		<b>ALU - SMSER</b>
				      	</div>

		      		</div>
		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p05.PNG" class="work-img"/><br/><br/>
				      		<b>Nestle - SBS Dashboard</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p06.PNG" class="work-img"/><br/><br/>
				      		<b>Nestle - MII Task List Dashboard</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p04.PNG" class="work-img"/><br/><br/>
				      		<b>P&G - Root Causing and Analysis Tool</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p07.PNG" class="work-img"/><br/><br/>
				      		<b>P&G - Scorecard Automation</b>
				      	</div>

		      		</div>
		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p08.PNG" class="work-img"/><br/><br/>
				      		<b>HUD Painter POC</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/a1.PNG" class="work-img"/><br/><br/>
				      		<b>HUD Builder</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p09.PNG" class="work-img"/><br/><br/>
				      		<b>ABAP - RFC Variant Synchronization</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p10.PNG" class="work-img"/><br/><br/>
				      		<b>ABAP - Non-Prod Transport Management</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p11.PNG" class="work-img"/><br/><br/>
				      		<b>ABAP - Asset Processing Tool</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p12.PNG" class="work-img"/><br/><br/>
				      		<b>ABAP - TCJ04 Table Comparison and Mass Update Tool</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p13.JPG" class="work-img"/><br/><br/>
				      		<b>VBA - DM ROTA Tool</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p14.JPG" class="work-img"/><br/><br/>
				      		<b>VBA - Audit Execution Macro</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p15.JPG" class="work-img"/><br/><br/>
				      		<b>VBA - Round Robin Tool</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p16.JPG" class="work-img"/><br/><br/>
				      		<b>VBA - General Ledger Activation Tool</b>
				      	</div>

		      		</div>

		      		<div class="work-container">
		      		
			      		<div class="work-l">
				      		<img src="img/prj/p17.PNG" class="work-img"/><br/><br/>
				      		<b>VBA - SNS Macro</b>
				      	</div>

				      	<div class="work-r">
				      		<img src="img/prj/p18.PNG" class="work-img"/><br/><br/>
				      		<b>VBA - DE Exception Report Macro</b>
				      	</div>

		      		</div>
		      		</center>

		      		</div>
		      	</div>
		      </div>

		      <div class="laptop_bottom"></div>
		      <div class="laptop_bottom_back"></div>

		      <div ng-if="about || work" class="laptop_keyboard">
		      	<center>
		      	<div class="laptop_touchpad"></div>
		      	</center>
		      </div>

		      <div ng-show="about" style="background-color: white; border: none;">
			      <center>
			      <br/>
			      <div class="branch-circle"></div>
			      <div class="branch-circle"></div>
			      <div class="branch-lower-circle"></div>
			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp branch-history" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
			      	<h2>WHO AM I ?</h2>
			      </md-whiteframe>
			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp" flex-gt-sm="50" layout layout-align="center center">

			      	<div class="branch-history-img">
			      	<div class="avatar img-thumbnail img-circle">
						<img src="img/myself.jpg" style="width: 150px; height: 150px;" alt="avatar" />
					</div>
					</div>

			      	<p class="branch-history-p">
			      	I am a graduate of <b>BS Information Systems</b> from the <b>University of Santo Tomas</b>.

			      	<br/>I have over <b>5 years of industry experience</b> and <b>I mostly dabble with the arts of web development but I am aiming to be a full-fledge fullstack developer</b>.
			      	<br/><br/>

			      	To give you a little bit more information about myself, <b>programming has always been my passion</b> and <b>I enjoy doing it</b>.

			      	<br/><br/>This interest in programming started when I was in highschool, <br/><br/>Me and my father would always play videogames together as a way to maximize our bonding time since my father was mostly not around because he is an OFW. 

			      	<br/><br/>My curiosity with how the games were created from scratch lead me to learning about programming and soon I was creating flash games in my leisure time.

			      	<br/><br/>I soon became sort of a <b>freelance developer in my college</b>, as a way of helping my mother pay for my tuition fees and to take care of other basic needs, <b>taking up odd programming jobs from other students</b> like helping them with creating their thesis, re-creating the calculator program in java etc. 
			      	</p>
			      	<br/>
			      </md-whiteframe>

			      <div class="branch-stem2"></div>
			      <md-whiteframe class="md-whiteframe-1dp branch-history" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
			      	<h2>MY WORK EXPERIENCE</h2>
			      </md-whiteframe>
			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp" flex-gt-sm="50" layout layout-align="center">
			      	<center>
			      	<div class="branch-work-img">
			      	<div class="avatar img-thumbnail img-circle">
			      		<img src="img/ohsi.png" style="width: 75px; height: 75px" alt="ohsi" />
			      	</div>
			      	</div>
			      	
			      	<h3>One Hundred Services Inc.</h3>
			      	<h4>Internship - Application Developer</h4>
			      	<h4>April 2011 - July 2011</h4>

			      	<ul class="branch-list">
			      		<li>Solely designed and developed a system that monitors website traffic, website usages and user accesses.</li>
			      		<li>Provided validation field checks on CMS system for yellow pages website</li>
			      	</ul>
			      	</center>
			      </md-whiteframe>

			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp" flex-gt-sm="50" layout layout-align="center">
			      	<center>
			      	<div class="branch-work-img">
			      	<div class="avatar img-thumbnail img-circle">
			      		<img src="img/hp.png" style="width: 75px; height: 75px" alt="hp" />
			      	</div>
			      	</div>
			      	
			      	<h3>Hewlett Packard</h3>
			      	<h4>Technology Consultant</h4>
			      	<h4>April 2012 - March 2015</h4>

			      	<ul class="branch-list">
			      		<li>
			      		Provided end-to-end technical-functional support to business users for SAP FI and Project Systems for several applications used by the account which encompasses a global user base
			      		</li>
			      		<li>
			      		Ensure incidents are resolved within SLA and comply with ITIL processes
			      		</li>
			      		<li>
			      		Knowledgeable in ABAP and leads the technofunc team that acts as an escalation point for technical and program issues
			      		</li>
			      		<li>
			      		Pro-active and leads the team's Tool and Innovation initiative; created various tools and boosted productivity within the team, including tools relevant for critical month end processes
			      		</li>
			      		<li>
			      		Received various commendations for deliverables and innovations done
			      		</li>
			      	</ul>
			      	</center>
			      </md-whiteframe>

			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp" flex-gt-sm="50" layout layout-align="center">
			      	<center>
			      	<div class="branch-work-img">
			      	<div class="avatar img-thumbnail img-circle">
			      		<img src="img/hpe.png" style="width: 75px; height: 75px" alt="hpe" />
			      	</div>
			      	</div>
			      	
			      	<h3>Hewlett Packard Enterprise</h3>
			      	<h4>Automation Engineer</h4>
			      	<h4>February 2015 - April 2017</h4>

			      	<ul class="branch-list">
			      		<li>
			      		Design and applies solution to various hp clients as an end to end dev ops engineer, up from requirements gathering up to system maintenance
			      		</li>
			      		<li>
			      		Worked as a technical lead for HUD Builder project (now known as Silver) and Robotics Process Automation
			      		</li>
			      	</ul>
			      	</center>
			      </md-whiteframe>

			      <div class="branch-stem2"></div>
			      <md-whiteframe class="md-whiteframe-1dp branch-history" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
			      	<h2>WHAT DO I DO ?</h2>
			      </md-whiteframe>
			      <div class="branch-stem"></div>

			      <md-whiteframe class="md-whiteframe-1dp" style="height: 55vh;" flex-gt-sm="50" layout layout-align="center center">

			      	<p class="branch-history-p">
			      		I'm down do to anything under the sun. 
			      		<br/><br/>
			      		<b>I can cook, I can bake - mostly brownies, banana loafs and coffee cakes.</b>
			      		<br/><br/>
			      		On my spare time <b>I play video games and watch anime or movies with my family</b>.
			      		<br/><br/>
			      		I also do freelance work in case you are interested

			      		<br/><br/>
			      		<i class="fa fa-facebook"></i> : <a href="https://www.facebook.com/raph.delvillar">raph.delvillar</a>
			      		<br/><br/>
			      		<i class="fa fa-linkedin"></i> : <a href="https://www.linkedin.com/in/raph-wilson-del-villar-4245bb97?trk=hp-identity-photo">raphdelvillar</a>
			      		<br/><br/>
			      		<i class="fa fa-envelope"></i> : <a href="mailto:raphdelvillar@gmail.com">raphdelvillar@gmail.com</a>

			      		<br/><br/>
			      		
			      	</p>

			      </md-whiteframe>

			      <div class="branch-stem2"></div>
			      </center>
		      </div>

		      <div class="footer-bottom" ng-style="{ 'margin-top' : (home || work) ? '30px' : '0px' }">
				<br/>
				<span class="footer-copyright">&copy; 2017. All Rights Reserved.</span>
				<span flex></span>
				<span class="footer-contact">@ raphdelvillar@gmail.com</span>
			  </div>
		  </div>
	</body>
</html>